<div class="panel">
	<div class="panel-body">
		<h2> Welcome To Alice &amp; Olga's </h2>
		<h3>About Us</h3>

		<div>We are a Salon that has be open for two decades at the Westlakes Landing Plaza near NW Loop 410.</div>
		<p>1255 SW Loop 410 # 139, San Antonio, TX 78227</p>
	</div>
</div>